@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White background */
    --foreground: 210 20% 20%;
    --card: 0 0% 100%;
    --card-foreground: 210 20% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 20% 20%;
    --primary: 151 100% 21%;  /* #006A2B - ZUS Green with sufficient contrast */
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 10% 20%;
    --muted: 215 25% 90%;
    --muted-foreground: 215 15% 45%;
    --accent: 33 100% 65%; /* #FFB34F - ZUS Orange */
    --accent-foreground: 0 0% 0%; /* Black text on accent */
    --destructive: 0 84% 60%; /* #F05E5E */
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 147 100% 25%; /* Original ZUS Green for rings/focus */
    --chart-1: 147 100% 25%; /* Original ZUS Green */
    --chart-2: 210 71% 53%; /* #3F84D2 */
    --chart-3: 33 100% 65%; /* #FFB34F */
    --chart-4: 0 84% 60%; /* #F05E5E */
    --chart-5: 215 25% 80%; /* #BEC3CE */
    --radius: 0.3rem; /* Reduced border radius for a more formal look */
  }
  .dark {
    --background: 205 40% 10%;
    --foreground: 0 0% 98%;
    --card: 205 40% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 205 40% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 151 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 25% 25%;
    --muted-foreground: 215 15% 65%;
    --accent: 33 100% 65%;
    --accent-foreground: 0 0% 0%; /* Black text on accent */
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 20%;
    --input: 210 40% 20%;
    --ring: 147 100% 25%;
    --chart-1: 147 100% 35%;
    --chart-2: 210 81% 63%;
    --chart-3: 33 100% 65%;
    --chart-4: 0 84% 70%;
    --chart-5: 215 25% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-body; /* Changed from bg-white */
    font-size: .875em;
    line-height: 1.2;
    color: #000;
  }
}

@layer components {
  .semitransparent-panel {
    @apply bg-card/100; /* Remove transparency */
  }
}
